Source: gbpx
Section: utils
Priority: optional
Maintainer: Johan Wermensjö, <johanwermensjoe@gmail.com>
Build-Depends: debhelper (>= 9),
               python3 (>= 3.2)
Standards-Version: 3.9.5
X-Python3-Version: >= 3.2
X-Python-Version: >= 2.7

Package: gbpx
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
         debhelper (>= 9),
         git-buildpackage (>= 0.6.9),
         dh-make (>= 0.63)
Description: is a helper script to build debian packages with git
 The script uses config files to specify branch names etc
 for your projects and helps you maintain three core branches:
 "release" (for upstream dev), "upstream" and "debian" (for package).
